body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:black;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.topbar{
  height:52px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}
.blinkyDancer{
  border:10px solid red;
  border-radius:10px;
  z-index: -1;
}
.star{
  height: 15px;
  width: 15px
}
div#music_player{
  width: 300px;
  height: 70px;
  background: #000;
  padding: 5px;
  margin: 50px auto;
}
div#music_player div#audio_box{
  width: 300px;
  background: #000;
  float: left;
}
div#music_player canvas{
  width: 300px;
  height: 34px;
  background: #002D3C;
  float: left;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid;
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 50px solid;
  border-bottom: 25px solid transparent;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid;
  border-bottom: 25px solid transparent;
}




.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

